<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<link rel="stylesheet" href="css/quizstyles.css" type="text/css" />
		<title>Player Scoreboard</title>
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="./js/scoreboard.js"></script>
	</head>
	<body>
		{{{ body }}}
	</body>
</html>