.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 300px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  font-family: 'Krub', sans-serif;
  font-size: 30px;

  /* Position the tooltip */
  position: absolute;
  margin-top: -5px;
  margin-left:20px;
  border-width: 5px;
  padding: 10px 20px;
  font-size: 20px;
  border-style: solid;
  border-color: transparent black transparent transparent;
}



.tooltip:hover .tooltiptext {
  visibility: visible;
}


.practice-test-container{

  width: 50%;
  height: 100px;
  position: absolute;
  left: 20%;
  right: 20%;
  top: 10%;
}


.title {
  font-family: 'Reenie Beanie', cursive;
  font-size: 55px;
  color: #18d49b;
}


p {
  font-family: 'Krub', sans-serif;
  font-size: 30px;
  color: rgb(117, 117, 117);

}

label {
  font-family: 'Krub', sans-serif;
  font-size: 30px;
  color: rgb(117, 117, 117);


}

button {
  border: none;
  background-color: #14bd8a;
  color: #ffffff;;
  font-size: 25px;
  margin-top: 20px;
  padding: 20px 40px;
}

button:hover {
  border: none;
  background-color: #17c28f;
  color: #ffffff;
  padding: 20px 40px;
}

button:disabled,
button[disabled]{
  border: none;
  background-color: #cccccc;
  color: #666666;
}

.answerval {
    margin-top:5px;


}

/*form styles*/
input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  border: none;
  background-color: #14bd8a;
  color: #ffffff;;
  font-size: 25px;
  margin-top: 20px;
  padding: 20px 40px;
}

input[type=submit]:hover {
  border: none;
  background-color: #17c28f;
  color: #ffffff;
  padding: 20px 40px;
}