.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  margin-top: -5px;
  margin-left:10px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent black transparent transparent;
}



.tooltip:hover .tooltiptext {
  visibility: visible;
}

/*Allan Code*/
body{
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}
nav{
  background: #077026;
  padding: 20px 10px,
}
nav ul{
  max-width: 960px;
  margin: 0 auto;
  padding: 0;
}
nav li{
  list-style-type: none;
  display: inline-block;
  margin: 0 10px 0 0;
}
nav a{
  color:rgb(5, 8, 7);
  font-size: 18px;
  background: #077026;
  text-decoration: none;
  padding: 10px;
  display: block;
}
main, header{
      max-width: 960px;
      margin: 30px auto;
      padding: 0 10px;
      color:#333;
}